{% extends "base.html" %}
{% block title %}Alberta Baby Names Bot{% endblock %}
{% block content %}
<h1>Alberta Baybot</h1>
<h3>Explore baby-name trends over the past 40 years</h3>
<form action="#" method="post">
	<p><b>Enter the name you want to look up:</b></p>
	<p><input type="text" name="nm" /> </p>
	<p><input type="submit" value="Submit" /> </p>
</form>
<p><i>Note: Search is <b>case-sensitive</b> due to the way Alberta keeps it records.</i></p>
<p><i>(For example: Results for "Mckenzie" and "McKenzie" will be different as they are considered different names.)</i></p>
{% endblock %}